<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
      </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <div class="grid">
              <section id="banner">
                <h2 id="Highlights"><strong>Oferte</strong> <em>limitate</em>!</h2>
                <figure>
                <picture title="Banner oferte">
                    <source srcset="resurse/imagini/black-friday-1898114_1920_small.jpg" media="(max-width: 900px)" width="350">
                    <source srcset="resurse/imagini/black-friday-1898114_1920_medium.jpg" media="(max-width: 1500px)" width="900">
                    <img src="resurse/imagini/black-friday-1898114_1920_edited.jpg" alt="Banner" width="1500">
                </picture>
                <section id="coming_soon">
                  <h3><i>Coming Soon</i></h3>
                  <i class="fa-solid fa-gun"></i><b>Arme</b> care vor aparea fi valabile <em>in curand</em>!
                      <br>
                      <details>
                          <summary>
                              Raptor Airsoft MP446C Viking Version
                          </summary>
                          <a href="https://airsoftrumors.com/raptor-airsoft-mp446c-viking-version-gbb/" target="_blank">Citeste mai multe informatii!</a>
                      </details>
                      <details>
                          <summary>
                              M4A1/<b>M4</b> GBBR by AW
                          </summary>
                          <a href="https://airsoftrumors.com/cybergun-fn-licensed-m4a1-m4-gbbr-by-aw-released/" target="_blank">Citeste mai multe informatii!</a>
                      </details>
                      <details>
                          <summary>
                              BUL SAS II Ultralight Carry
                          </summary>
                          <a href="https://airsoftrumors.com/wellpro-announced-new-bul-sas-ii-hi-capa-gbb-pistol/" target="_blank">Citeste mai multe informatii!</a>
                      </details>
                      
                  
              </section>
              </section>
      
              <div id="info">
                <h2 id="new">Esti nou in lumea airsoftului?</h2>
                <p>Daca vizitezi pentru prima data un <b>magazin airsoft</b> am pregatit o mica sectiune de ajutor:</p>
                <ul>
                    
                  </i><li><p>Ce sa fac <i class="fa-solid fa-check fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;" ></i></p>
                        <ul>
                            <li><p>1. Use a timer to charge your airsoft gun batteries.</p>
                            <li><p>2. Airsoft gun parts are all made to run at a specific speed. Only use your airsoft gun with fully charged batteries. If your airsoft gun is wearing down, take the battery out and charge it. Stop shooting immediately.</p>
                            <li><p>3. If this is your first time, turn your hop up completely off and then adjust it slowly. Turning the hop up all the way up results in the airsoft gun jamming and unable to fire.</p>
                        </ul>
                    </li>
                    <li><p>Ce sa nu fac <i class="fa-solid fa-triangle-exclamation fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;" ></i></p></p>
                        <ul>
                            <li><p>1. Airsoft guns are replicas of real firearms. They are not built for prolonged periods of shooting. Like a real firearm, airsoft guns overheat and damaged is caused. Keep your shooting intervals between 4-6 second bursts. This will prevent any complications.</p>
                            <li><p>2. Never charge a battery that has become warm or hot. Do no continue to charge it.</p>
                            <li><p>3. When you are finished using your airsoft gun, never leave the batteries in there.</p>
                        </ul>
                    </li>
                </ul>
                  <div class="iframes">
                    <div class="container">
                    <iframe name = "video"  src = "https://www.youtube.com/embed/fYJAYI6EXYU" frameborder=0 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                    <div class="tabs-iframe">
                      <a class="tab" href="https://www.youtube.com/embed/fYJAYI6EXYU" target ="video"><div>How to start airsoft</div></a>
                      <a class="tab" href = "https://www.youtube.com/embed/LjG2ggzHDXA" target = "video"><div>The Basics</div></a>
                    </div>
                  </div>
                  <h2 id="FAQ"><i><b>FAQ</b></i> - Intrebari puse frecvent </h2>
               <details><summary>IS AIRSOFT SAFE?</summary>Overall, airsoft is an enjoyable and safe sport, as there are strict rules in place which ensure players are aware of and able to avoid potential risks. The most significant risk of injury is the possibility of being shot in a vulnerable part of the body, such as an eye. However, full face masks are available and usually mandatory which will protect the full face and neck. In reality, as long as it is enjoyed responsibly, airsoft is no more dangerous than other team sports.</details>
               <details><summary>DO I NEED PROTECTIVE EQUIPMENT TO PLAY AIRSOFT?</summary>There are some basic pieces of protective equipment which are recommended. The minimum requirement is a good pair of glasses or goggles which are resistant to impact. However, many players also wear face masks, which are combined with eyewear for full face, head and eye protection. In addition, protective airsoft vests, guards and boots for airsoft are also popular options.</details>
               <details><summary>CAN CHILDREN PLAY AIRSOFT?</summary>Although it is an offence for a person younger than 18 to purchase an airsoft gun, being gifted a gun which is used to play airsoft is not. Generally speaking, most airsoft fields will have a minimum age of between 12 and 14, although some will accept younger children. It’s important that children are taught how to safely handle and use airsoft equipment and are adequately supervised during play.</details>
      
                </section>
              </div>
      
              <div id="layout_3">
                <h2>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt quas
                  impedit odio dicta nihil molestiae in aspernatur delectus aut
                  distinctio, exercitationem facere, doloribus reprehenderit!
                  Perspiciatis earum commodi neque quasi deserunt.
                </h2>
                <p></p>
              </div>
      
              <section id="table">
                <!-- tabel -->
                <h2><i class="table-title"></i> Cele mai cautate produse! </h2>
                <div class="table-container">
                  <table id="t01">
                    <caption>Produse disponibile</caption>
                    <!-- <thead> -->
                      <tr>
                        <th>&#x23;</th>
                        <th>Imagine</th>
                        <th>Nume</th>
                        <th>Pret</th>
                        <th>Garantie</th>
                      </tr>
                    <!-- </thead> -->
                    <!-- <tbody> -->
                      <tr>
                        <td>1</td>
                        <td><img src="resurse/imagini/ghillie_suit_forest.png" alt="Ghillie Suit" height="200" width="200"></td>
                        <td>Ghillie Suit - Forest Camo</td>
                        <td>500 RON</td>
                        <td>1 an</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td><img src="resurse/imagini/winchester_12_xsp.png" alt="Winchester SXP 12 Gauge" width="350"></td>
                        <td>Shotgun Winchester Super X Pump 12 Gauge</td>
                        <td>2000 RON</td>
                        <td>4 ani</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td><img src="resurse/imagini/sniper_rifle_camo_paint.png" alt="Remington SR" width="350"></td>
                        <td>Remington Sniper Rifle Camo Painted</td>
                        <td>4500 RON</td>
                        <td>3 ani</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td> <img src="resurse/imagini/Bile_6mm.png" alt="Bile 6mm" width="200"></td>
                        <td>Munitie - Bile 6mm</td>
                        <td>30 RON</td>
                        <td>5 ani</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td><a href="resurse/imagini/Glock45.jpg" download>
                            <img src="resurse/imagini/Glock45.jpg" alt="Glock 45" width="200"></a></td>
                        <td>Glock 45</td>
                        <td>1000 RON</td>
                        <td>2 ani</td>
                      </tr>
                      <!-- </tbody> -->
                  </table>
                  </div>
              </section>
      
            </section>
      
              <div id="layout_4">
                <h2>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corrupti, sapiente aut, nemo asperiores iste porro rem omnis illum laboriosam facere ipsum minima assumenda labore. Quae ipsum sint temporibus possimus?
                </h2>
              </div>
              <div id="layout_5">
                <h2>
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quia quam velit, voluptatibus repellendus dignissimos pariatur magnam! Odio modi molestias repellendus voluptas cumque provident dignissimos quaerat esse, eaque consectetur possimus?
                </h2>
              </div>
              <div id="layout_6">
                <h2>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis culpa ut placeat hic at a nemo saepe dolorem accusantium. Voluptatibus fuga ipsum veniam reprehenderit vitae maxime enim deserunt sed autem!
                </h2>
              </div>
      
              <div id="layout_7">
                <h2>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus doloribus ab iure quam corporis neque! Saepe repellendus repudiandae cupiditate fugiat, illo fuga, ipsam nemo explicabo ea sit facere hic alias?
                </h2>
              </div>
            </div>
      
          </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>
