<div class="link-top" title="Back to top!"><a class="link-top-btn  " href="#">
    <span class="arrow-icon">&#129081;</span></a></div>
    <address>
        <div><a href="tel:+407123456789">Telefon</a></div>
        <div><a href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Informatics/@44.4355393,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank"> Adresa </a></div>
        <div><a href="mailto:mailrandom123@unibuc.ro">Email</a></div>
        <div><a href="https://wa.me/07123456789"><img src="/resurse/imagini/whatsapp-1844471_1920.png" alt="logo whatsapp" width="40"></a></div>
    </address>
    <p class="banner">Acesta este un proiect scolar!</p>
    <p><small>Copyright &copy; 2024 - Pavel Alexandru. Website created on <time datetime="2024-06-10">June 10</time></small></p>