<title>ASG Box</title>
<meta charset="utf-8" />
<meta name="keywords" content="airsoft, arme airsoft, pistoale airsoft, echipament tactic, arme cu bile, pusti cu bile, shotgun airsoft, sniper airsoft, ghillie suit, glock, m4" >
<meta name="description" content="Magazin de arme si echipamente airsoft.">
<meta name="author" content="Pavel Alexandru">  
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/ico/site.webmanifest">
<link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resurse/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/resurse/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />
<link rel="stylesheet" href="/resurse/css/nav500.css" type="text/css" media="screen and (max-width:500px)" />
<link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />
<link rel="stylesheet" href="/resurse/css/table.css" type="text/css" />
<link rel="stylesheet" href="/resurse/css/general_1200.css" type="text/css" media="screen and (max-width:1200px)"/>
<link rel="stylesheet" href="/resurse/css/general_500.css" type="text/css" media="screen and (max-width:500px)"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/606f119980.js" crossorigin="anonymous"></script>