<h1>ASG Box - cel mai bun magazin <b>airsoft</b></h1>
            <p id="watermark"></p>
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="resurse/imagini/hamburger.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class = "meniu">
                    <li class="dropdown"><a href="/home">Acasa</a>
                        <ul>
                            <li><a href="/home#Highlights">Oferte</a></li>
                            <li><a href="/home#new">Newcomers</a></li>
                            <li><a href="/home#FAQ"><i><b>FAQ</b></i></a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="/produse">Arme</a>
                        <ul>
                            <li><a href="#">Pistoale</a></li>
                            <li><a href="#">Pusti</a></li>
                        </ul>
                    </li>
                    <li><a href="/despre">Despre</a ></li>
                    <li class="c1"><a href="/galerie">Galerie</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>